{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo/img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'datatable/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableau_bord.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_general.css' %}">
    <title>{{ title_recette_list }}{{ title_recette_new }}</title>
    <style>
        .dataTables_filter input[type="search"] {
            height: 50px;
        }
    </style>
</head>
<body>
    {% include 'navbar/navbar.html' %}
    <div class="main-content-area">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col p-2">
                    <div class="card border-0 shadow-sm">
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col-md-2 mt-4">
                                    <a href="{% url 'recette_list' %}" class="btn btn-sm w-100 {{ active_recette }}">
                                        Recette
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% include 'message.html' %}
                            {% if title_recette_list %}
                                {% include 'all_page/recette/recette_liste.html' %}
                            {% elif title_recette_new %}
                                {% include 'all_page/recette/recette_new.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'datatable/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'datatable/datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'client/modal.js' %}"></script>
    <script src="{% static 'photomc.js' %}"></script>
    <script src="{% static 'modal.js' %}"></script>
    <script src="{% static 'chiffre_espacement.js' %}"></script>
    <script src="{% static 'utils_blocage_date_precedant.js' %}"></script>
    <script src="{% static 'export_recette_modal.js' %}"></script>
</body>
</html>