<div class="card-body">
    <div class="mb-4">
        <form>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 mb-2 mb-md-0">
                    <div class="form-floating">
                        <input type="date" name="datedeb" id="datedeb" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="" value="{{ datedeb }}" required>
                        <label for="datedeb">Période du </label>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mb-md-0">
                    <div class="form-floating">
                        <input type="date" name="datefin" id="datefin" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="" value="{{ datefin }}" required>
                        <label for="datefin">au </label>
                    </div>
                </div>
                <div class="col-md-1 col-sm-6 col-6 d-flex align-items-center justify-content-center">
                    <div class="mb-2"></div>
                    <button class="btn btn-primary" type="submit" style="width: 50px; height: 50px;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex flex-wrap justify-content-between my-5">
        <div class="col-md-2 border border-secondary rounded p-4 mb-4">
            <div class="text-center">Facture Editée :</div>
            <h3 class="text-center text-secondary">{{ factures.count }}</h3>
        </div>
        <div class="col-md-2 border border-secondary rounded p-4 mb-4">
            <div class="text-center">Facture en Retard :</div>
            <h3 class="text-center text-secondary">0</h3>
        </div>
        <div class="col-md-2 border border-secondary rounded p-4 mb-4">
            <div class="text-center">Avoir :</div>
            <h3 class="text-center text-secondary">{{ avoir_count }}</h3>
        </div>
        <div class="col-md-2 border border-secondary rounded p-4 mb-4">
            <div class="text-center">Restant :</div>
            <h3 class="text-center text-secondary">{{ restant }}</h3>
        </div>
    </div>
    <div class="my-3 d-flex justify-content-between">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#export-excel" style="width: 150px; height: 40px;">
            <i class="fas fa-file-excel"></i>
            Export Excel
        </button>
        <div style="width: 20px;"></div>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#export-pdf" style="width: 150px; height: 40px;">
            <i class="fas fa-file-pdf"></i>
            Export PDF
        </button>
    </div>
    <div class="table-responsive p-1">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>N°Facture</th>
                    <th>N°Compteur</th>
                    <th>Statut</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Utilisateur</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in factures %}
                <tr>
                    <td>
                        <a href="{% url 'facture_etat_detail' facture.num_facture %}" class="text-decoration-none">
                            {{ facture.num_facture }}
                        </a>
                    </td>
                    <td>{{ facture.num_contrat.num_compteur_id }}</td>
                    <td>
                        {% if facture.statut %}
                            {% if facture.restant_nouvel %}
                                <span class="badge bg-warning text-dark">Montant Restant ({{ facture.restant_nouvel }} Ar)</span>
                            {% else %}
                                <span class="badge bg-success ">Payé</span>
                            {% endif %}
                        {% else %}
                            <span class="badge bg-danger ">Impayé</span>
                        {% endif %}
                    </td>
                    <td>{{ facture.date_facture|date:"d/m/Y" }}</td>
                    <td>{{ facture.montant_total_ttc }} Ar</td>
                    <td>
                        {{ facture.relevecompteur.utilisateur.nom_utilisateur }}
                        <label class="badge bg-primary ">{{ facture.relevecompteur.utilisateur.role.role }}</label>
                    </td>
                    <td>
                        <a href="{% url 'facture_etat_detail' facture.num_facture %}" class="btn btn-primary btn-sm ">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <button type="button" class="btn btn-success btn-sm" onclick="openUrlInNewTab('{% url 'facture_genere_pdf' facture.num_facture %}')">
                            <i class="fas fa-file-pdf"></i>
                             PDF
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="export-pdf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x" style="z-index: 1000;">
        <div id="alert" class="alert alert-warning alert-dismissible" role="alert" style="display: none;">
            Aucune facture impayée n'est disponible pour l'exportation.
        </div>
    </div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exportation des factures au format PDF.</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNew">
                    {% csrf_token %}
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="date_deb" id="date_deb" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="" required>
                                        <label for="date_deb">Periode du </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="date_fin" id="date_fin" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="">
                                        <label for="date_fin">au </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select name="region" id="region" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                            <option value="" selected hidden>Selectionnez une région</option>
                                            {% for region in regions %}
                                                <option value="{{ region.region }}">{{ region.region }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="region">Région</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select name="commune" id="commune" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                            <option value="" selected hidden></option>
                                        </select>
                                        <label for="cp_commune">Commune</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-xmark-circle"></i>
                    Annuler
                </button>
                <button type="button" class="btn btn-success confirmer-export" id="confirmer-export">
                    <i class="fas fa-check-circle"></i>
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="export-excel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exportation de la liste des factures au format Excel</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNew">
                    {% csrf_token %}
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="date_deb" id="date_deb" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="" required>
                                        <label for="date_deb">Periode du </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="date_fin" id="date_fin" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="">
                                        <label for="date_fin">au </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select name="region" id="region" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                            <option value="" selected hidden>Selectionnez une région</option>
                                            {% for region in regions %}
                                                <option value="{{ region.region }}">{{ region.region }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="region">Région</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select name="commune" id="commune" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                            <option value="" selected hidden></option>
                                        </select>
                                        <label for="cp_commune">Commune</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-xmark-circle"></i>
                    Annuler
                </button>
                <button type="button" class="btn btn-success confirmer-export-excel" id="confirmer-export-excel">
                    <i class="fas fa-check-circle"></i>
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>
