debug.log
.gitignore
logs

.scripts

# Ignorer le dossier static global généré par collectstatic
/static/
# Mais suivre spécifiquement les fichiers CSS dans Login/static/css
!Login/static/css/

*.log
*.pyc
__pycache__/
Rel_Compteur/__pycache__/
Clients/__pycache__/
Compteurs/__pycache__/
Facturation/__pycache__/
Login/__pycache__/
Main_Courante/__pycache__/
Parametre/__pycache__/
Ranoo_Config/__pycache__/
Tableau_Bord/__pycache__/
Tenants/__pycache__/
Depense/__pycache__/
Recette/__pycache__/
.venv
.idea
