<div class="card-body px-4">
    <h4 class="text-center mb-5">Modification de {{ tarif.cp_commune.cp_commune }}</h4>
    <form action="{% url 'tarif_mod' tarif.pk %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="prix_m3" id="prix_m3" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" value="{{ tarif.prix_m3 }}" placeholder="">
                    <label for="prix_m3">Prix / m&#179;</label>
                </div>
            </div>
        </div>
        <div class="mt-4" id="afficher_taxe">
            {% for taxe in taxes %}
            <div class="row mt-4 taxe_groupe" id="taxe_groupe">
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="text" name="nom_taxe" id="nom_taxe" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ taxe.nom_taxe }}" placeholder="">
                        <label for="nom_taxe">Nom Taxe</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="text" name="taux_taxe" id="taux_taxe" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ taxe.taux_taxe }}" placeholder="">
                        <label for="taux_taxe">Taux (%)</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn btn-sm btn-warning rounded-circle mt-4" id="retirer"><i class="fas fa-minus"></i></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="btn btn-sm btn-success  mt-3" id="add_taxe">
            <i class="fas fa-plus"></i>
            Plus Taxe
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" name="tva" id="tva" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" value="{{ tarif.tva }}" placeholder="">
                    <label for="tva">TVA (%)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="nb_jour_echeance_fct" id="nb_jour_echeance_fct" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" value="{{ tarif.nb_jour_echeance_fct }}" placeholder="">
                    <label for="nb_jour_echeance_fct">Nombre Jour Echeance Facture</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-success" type="submit">
                <i class="fas fa-save"></i>
                Enregistrer
            </button>
        </div>
    </form>
</div>