<div class="card-body">
    <h4 class="text-center">Paramétrage ligne de facturation</h4>
    <div class="table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Désignation</th>
                    <th>PU HT</th>
                    <th>Total HT</th>
                    <th>Taux TVA</th>
                    <th>Prix TTC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Consomation du [dateDebut] au [DateFin]</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>Redevance branchement social</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>Redevance fond de renouvellement</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td>Taxe communale</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                 <tr>
                    <td><a href="" class="text-decoration-none"><i class="bi-plus-circle"></i>Ajouter une ligne</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-wrap justify-content-end">
        <button class="btn btn-success" type="submit">Sauvegarder</button>
    </div>
</div>