<div class="card-body">
    <div class="d-flex justify-content-between">
        <div class="mx-5 col-md">
            <a href="{% url 'commune_new' %}" class="btn btn-warning">
                <i class="fas fa-plus"></i>
                Nouveau
            </a>
        </div>
    </div>
    <div class="table-responsive mt-5 p-1">
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    <th>Région</th>
                    <th>Commune</th>
                    <th>CP Commune</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in communes %}
                <tr>
                    <td>{{ row.region.region }}</td>
                    <td>{{ row.commune }}</td>
                    <td>{{ row.pk }}</td>
                    <td>
                        <a href="{% url 'supp_commune' row.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce département ?')" title="Suppression">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>