<div class="card-body">
    <div class="d-flex justify-content-between">
        <div class="mx-5 col-md">
            <a href="{% url 'tarif_nouveau' %}" class="btn btn-warning" style="width: 150px; height: 40px;">
                <i class="fas fa-plus"></i>
                Nouveau
            </a>
        </div>
    </div>
    <div class="table-responsive mt-5 p-1">
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    <th>Province</th>
                    <th>Région</th>
                    <th>Commune</th>
                    <th>Prix / m&#179; (BS)</th>
                    <th>Prix / m&#179; (BP)</th>
                    <th>Prix / m&#179; (K)</th>
                    <th>TVA (En %)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for row in tarif %}
                <tr>
                    <td>{{ row.cp_commune.region.province.province }}</td>
                    <td>{{ row.cp_commune.region.region }}</td>
                    <td>{{ row.cp_commune.commune }}</td>
                    <td>{{ row.prix_m3_bs }} Ar</td>
                    <td>{{ row.prix_m3_bp }} Ar</td>
                    <td>{{ row.prix_m3_k }} Ar</td>
                    <td>{{ row.tva }} %</td>
                    <td>
                        <a href="{% url 'tarif_mod' row.pk %}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>