{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo/img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatable/datatables.min.css' %}">
    <title>{{ titre_ranoo_utilisateur }}{{ titre_new_tarif }}{{ titre_departement }}{{ titre_mod_tarif }}{{ titre_region }}{{ titre_mod_utilisateur }}{{ titre_creation_utilisateur }}{{ titre_config_tarif }}</title>
    <style>
        .dataTables_filter input[type="search"] {
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'navbar/navbar.html' %}
            <div class="col p-2">
                <div class="card border-0 shadow-sm">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-2 mt-4">
                                <a href="{% url 'config_utilisateur' %}" class="fw-bolder shadow-none rounded-0 btn btn-outline-warning btn-sm w-100 text-dark border-start-0 border-top-0 border-end-0 {{ active_utilisateur }}{{ active_droit }}">
                                    Utilisateur
                                </a>
                            </div>
                             <div class="col-md-2 mt-4">
                                <a href="{% url 'region' %}" class="fw-bolder shadow-none rounded-0 btn btn-outline-warning btn-sm w-100 text-dark border-start-0 border-top-0 border-end-0 {{ active_region }}">
                                    Région
                                </a>
                            </div>
                            <div class="col-md-2 mt-4">
                                <a href="{% url 'config_tarif' %}" class="fw-bolder shadow-none rounded-0 btn btn-outline-warning btn-sm w-100 text-dark border-start-0 border-top-0 border-end-0 {{ active_config_constates }}">
                                    Tarif
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-content-center p-4">
                            {% include 'message.html' %}
                        </div>
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'datatable/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="{% static 'client/modal.js' %}"></script>
    <script src="{% static 'datatable/datatables.min.js' %}"></script>
    <script src="{% static 'modal.js' %}"></script>
    <script src="{% static 'taxe.js' %}"></script>
    <script src="{% static 'dselect.js' %}"></script>
    <script>
        let select_box_element = document.querySelector('.cp_commune');

        dselect(select_box_element, {
            search: true
        });
    </script>
</body>
</html>