{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'logo/img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>Exportation de fichier</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'navbar/navbar.html' %}
            <div class="col p-2">
                <div class="card border-0 shadow-sm">
                    <form>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>