{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo/img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>Tableau de Bord</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'navbar/navbar.html' %}
            <div class="col p-2">
                <div class="px-4">
                    <form>
                        <div class="row mx-lg-5 mx-5">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select name="region" id="region" class="form-select shadow-none border-start-0 border-top-0 border-end-0 rounded-0">
                                        <option value="" disabled selected hidden></option>
                                        {% for region in regions %}
                                        <option value="{{ region.pk }}">{{ region.region }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="region">Région</label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-2 mb-md-0">
                                <div class="form-floating">
                                    <input type="date" name="date_deb" id="date_deb" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="">
                                    <label for="date_deb">Période du </label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-2 mb-md-0">
                                <div class="form-floating">
                                    <input type="date" name="date_fin" id="date_fin" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="">
                                    <label for="date_fin">au</label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mb-2"></div>
                                <button class="btn btn-primary h-75 w-50" type="submit">
                                    <i class="fas fa-filter"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="col mt-5">
                        <div class="d-flex flex-wrap justify-content-between mt-3">
                            <div class="col-md-3 col-sm-6">
                                <div class="card bg-warning shadow-sm py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs fw-bold text-dark text-uppercase mb-1">
                                                    Chiffres d'affaires :
                                                </div>
                                                <div id="chiffres">
                                                    <div class="h5 mb-0 font-weight-bold text-dark chiffre">
                                                        {{ chiffres }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <strong class="fa-2x text-dark">AR</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card bg-primary shadow-sm py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs fw-bold text-light text-uppercase mb-1">
                                                    nb d'abonnées ({{ annee_contrat_prec }}) :
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-light">
                                                    {{ nb_client_prec }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="card bg-primary shadow-sm py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs fw-bold text-light text-uppercase mb-1">
                                                    nb d'abonnées ({{ annee_contrat_actuelle }}) :
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-light">
                                                    {{ nb_client_actuelle }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="col-md-4 mt-5">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <h5 class="text-dark">Consommation par Réseaux</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RecapConso"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <h5 class="text-dark">Evolution de la Consommation</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="EvoConso"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex flex-column justify-content-between mt-5">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <h5 class="text-dark">Paiements</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="paiement"></canvas>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <h5 class="text-dark">Mains Courantes</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="main"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'datatable/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.0.0-alpha0/date_fns.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-date-fns/3.0.0/chartjs-adapter-date-fns.min.js"></script>
    <script>
        let color = [
            '#2c3e50',
            '#c0392b',
            '#27ae60',
            '#666666',
            '#dc3545',
            '#007bff',
            '#2ecc71',
            '#343a40',
            '#8e44ad',
            '#3498db',
            '#28a745',
            '#f39c12',
            '#6c757d',
            '#ffc107',
            '#17a2b8',
            '#e74c3c',
            '#9b59b6'
        ]
        
        function formatNumberWithSpaces(number) {
            const parts = number.toString().split('.');
            const integerPart = parts[0];
            const decimalPart = parts[1] || "";

            // Ajoute un espace tous les trois chiffres à partir de la virgule
            let formattedIntegerPart = integerPart.replace(/\B(?=(\d{3})+(?=,))/g, " ");

            return formattedIntegerPart + (decimalPart.length > 0 ? ',' + decimalPart : "");
        }

        let chifres = $('#chiffres .chiffre')
        const valeur_original = chifres.text();
        const formattedValue = formatNumberWithSpaces(valeur_original);

        // Mettre à jour la div avec la valeur formatée
        chifres.text(formattedValue);

        const dataValues = [
            {% for commune in communes %}
                {{ commune.total_conso }},
            {% endfor %}
        ];

        let Recap = document.getElementById('RecapConso').getContext('2d');

        // Calcul du total
        const total = dataValues.reduce(function (a, b) {
            return a + b;
        }, 0);

        // Calcul des pourcentages
        const percentageValues = dataValues.map(function (value) {
            return ((value / total) * 100).toFixed(2); // Arrondi à deux décimales
        });

        new Chart(Recap, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for commune in communes %}
                        '{{ commune.region.region }} {{ commune.commune }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Consommation par Réseaux en %',
                    data: percentageValues,
                    backgroundColor: color,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        display: 'auto',
                        formatter: (value) => {
                            if (value !== 0) {
                                return value + '%';
                            } // Ajoutez le signe de pourcentage
                        },
                        color: '#f8f9fa',
                        align: 'center',
                        textAlign: 'center',
                        font: {
                            size: 14
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return context.label + ': ' + context.parsed + '%';
                            }
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
        // Courbe de l'evolution de la consommation
        let EvoConso = document.getElementById('EvoConso').getContext('2d');

        new Chart(EvoConso, {
            type: 'line',
            data: {
                datasets: [
                    {% for row in evo_conso %}
                    {
                        label: '{{ row.commune }}',
                        data: [
                            {% for list in row.data %}
                            {
                                x: '{% if list.mois_releve < 10 %}0{% endif %}{{ list.mois_releve }}/{{ list.annee_releve }}',
                                y: {{ list.total_conso }}
                            },
                            {% endfor %}
                        ],
                        backgroundColor: color,
                        borderColor: color,
                    },
                    {% endfor %}
                ],
            },
            options: {
                 scales: {
                     y: {
                         beginAtZero: true
                     },
                 },
            }
        });
        
        // Graphique de paiement
        let paiement = document.getElementById('paiement').getContext('2d');
        let data = {
            labels: [],
            datasets: [
                {
                    label: 'Factures payées',
                    backgroundColor: '#28a745', // Couleur pour les factures payées
                    data: [], // Les données seront insérées ici
                },
                {
                    label: 'Factures impayées',
                    backgroundColor: '#e74c3c', // Couleur pour les factures impayées
                    data: [], // Les données seront insérées ici
                }
            ]
        };
        {% for facture in factures %}
            data.labels.push('{% if facture.mois < 10 %}0{% endif %}{{ facture.mois }}/{{ facture.annee }}');
            data.datasets[0].data.push('{{ facture.nombre_factures_payees }}');
            data.datasets[1].data.push('{{ facture.nombre_factures_impayees }}');
        {% endfor %}
        new  Chart(paiement, {
            type: 'bar',
            data: data
        });

        //Graphics bar pour le Main Courante
        let main = document.getElementById('main').getContext('2d');
        let main_data = {
            labels: [],
            datasets: [
                {
                    label: 'Non traitée',
                    backgroundColor: '#f39c12',
                    data: [], // Les données pour Non traité seront insérées ici
                },
                {
                    label: 'Realisées',
                    backgroundColor: '#28a745',
                    data: [], // Les données pour Relise seront insérées ici
                },
                {
                    label: 'En cours',
                    backgroundColor: '#007bff',
                    data: [], // Les données pour En cours seront insérées ici
                }
            ]
        }
        {% for item in main_courantes %}
            main_data.labels.push('{% if item.mois < 10 %}0{% endif %}{{ item.mois }}/{{ item.annee }}');
            main_data.datasets[0].data.push('{{ item.nb_non_traite }}');
            main_data.datasets[1].data.push('{{ item.nb_realise }}');
            main_data.datasets[2].data.push('{{ item.nb_en_cours }}');
        {% endfor %}
        new  Chart(main, {
            type: 'bar',
            data: main_data
        });
    </script>
</body>
</html>