{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo/img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>Authentification</title>
</head>
<body class="d-flex flex-row justify-content-center align-content-center bg-light">
    <section class="card w-50 my-5 shadow-lg border-0">
        <div class="card-body d-flex flex-row justify-content-center align-content-center">
            <div class="content w-50 bottom-distance">
                <h2 class="text-center my-5">RANOO</h2>
                <div class="d-flex justify-content-center align-content-center p-5">
                    {% include 'message.html' %}
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="custom-input-group">
                        <span class="input-icon">
                            <i class="fas fa-user-alt"></i>
                        </span>
                        <input type="tel" class="form-control" name="num_utilisateur" id="num_utilisateur" placeholder="Téléphone" minlength="10" maxlength="10" required>
                    </div>
                    <div class="mt-4 custom-input-group">
                        <span class="input-icon">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" class="form-control" name="motpasse_utilisateur" id="motpasse_utilisateur" placeholder="Mot de Passe" minlength="8" required>
                    </div>
                    <div class="mt-2 text-start">
                        <input type="checkbox" name="sauvegarder" id="sauvegarder" class="form-check-label">
                        <label for="sauvegarder">Sauvegarder</label>
                    </div>
                    <button class="btn btn-success w-100 mt-3" type="submit">
                        <i class="fas fa-sign-in-alt"></i>
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'datatable/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'modal.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
</body>
</html>