<div class="card-body px-md-4">
    <h4 class="text-center mb-5">Nouveau Compteur</h4>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="text"
                           inputmode="numeric"
                           pattern="[0-9]*"
                           name="num_compteur"
                           id="num_compteur"
                           class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0"
                           placeholder=""
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                    <label for="num_compteur">Numéro*</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="marque_compteur" id="marque_compteur" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="">
                    <label for="marque_compteur">Marque</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="modele_compteur" id="modele_compteur" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="">
                    <label for="modele_compteur">Modèle</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="DN_compteur" id="DN_compteur" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" maxlength="5" placeholder="">
                    <label for="DN_compteur">DN</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="origin_compteur" id="origin_compteur" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="">
                    <label for="origin_compteur">Origine</label>
                </div>
            </div>
        </div>
        <h5 class="mt-5 mb-2 border-bottom">Volume de Départ</h5>
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="date" name="date_releve" id="date_releve" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="" required>
                    <label for="date_releve">Date 1er Consommation*</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="form-floating">
                    <input type="text" name="volume" id="volume" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" placeholder="" required>
                    <label for="volume">Volume*</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end mt-5">
                <button class="btn btn-success " type="submit">
                    <i class="fas fa-save"></i>
                    Enregistrer
                </button>
            </div>
        </div>
    </form>
</div>
