<div class="card-body">
    <div class="d-flex justify-content-between mb-5">
        <div class="mx-5 col-md">
            <a href="{% url 'compteur_new' %}" class="btn btn-warning">
                <i class="fas fa-plus me-1"></i>
                Nouveau
            </a>
        </div>
        <div class="mx-5">
            <a href="{% url 'export_compteur' %}" class="btn btn-secondary">
                <i class="fas fa-file-excel me-1"></i>
                Exporter
            </a>
        </div>
    </div>
    <div class="table-responsive mt-4 p-1">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>N° Compteur</th>
                    <th>N° Client</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>N° Contrat</th>
                    <th>Date Dernière Relevée</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for list in compteur %}
                <tr>
                    <td>
                        <a href="{% url 'compteur_detail' list.pk %}" title="Détail" class="text-decoration-none">
                            {{ list.pk }}
                        </a>
                    </td>
                    <td>{{ list.contrats.first.client.num_client|default:"-" }}</td>
                    <td>
                        {{ list.contrats.first.client.nom_client|default:"-" }}
                    </td>
                    <td>
                        {{ list.contrats.first.client.prenom_client|default:"-" }}
                    </td>
                    <td>
                        {{ list.contrats.first.num_contrat|default:"-" }}
                    </td>
                    <td>
                        {{ list.dernier_releve|default_if_none:"-"|date:"d/m/Y" }}
                    </td>
                    <td>
                        <a href="{% url 'compteur_detail' list.pk %}" class="btn btn-primary btn-sm " title="Détail">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        {% if request.session.role_utilisateur == 'Administrateur' %}
                            <a href="{% url 'compteur_supp' list.pk %}" class="btn btn-danger btn-sm " title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce Compteur ?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>