<div class="card-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow-none">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-floating">
                                    <input type="text" name="id_category" id="id_category" class="form-control shadow-none rounded-0 border-top-0 border-end-0 border-start-0" required placeholder="Code">
                                    <label for="id_category">Code Catégorie (ex: D100)</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-floating">
                                    <input type="text" name="nom_categorie" id="nom_categorie" class="form-control shadow-none rounded-0 border-top-0 border-end-0 border-start-0" required placeholder="Nom">
                                    <label for="nom_categorie">Nom de la Catégorie</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12 text-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save me-2"></i>Enregistrer
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>