<div class="card-body">
    <div class="d-flex justify-content-between my-5">
        <div class="mx-5 col-md">
            <a href="{% url 'categorie_new' %}" class="btn btn-warning">
                <i class="fas fa-plus me-1"></i>
                Nouvelle Catégorie
            </a>
        </div>
    </div>
    <div class="table-responsive mt-4 p-1">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Code Catégorie</th>
                    <th>Nom Catégorie</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.id_category }}</td>
                    <td>{{ cat.nom_categorie }}</td>
                    <td>
                        <a href="{% url 'categorie_suppression' cat.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>