<div class="card-body">
    <!-- Action Bar -->
    <div class="row g-2 mb-4 align-items-center">
        <div class="col-sm-6 col-lg-auto">
            <a href="{% url 'client_new' %}" class="btn btn-warning w-100">
                <i class="fas fa-plus me-1"></i>
                <span>Nouveau</span>
            </a>
        </div>
        <div class="col-sm-6 col-lg-auto ms-lg-auto">
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#export-client">
                <i class="fas fa-file-download me-1"></i>
                <span>Exporter</span>
            </button>
        </div>
    </div>

    <!-- Data Table -->
    <div class="table-responsive mt-4 p-1">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>N° Client</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>N° contrat</th>
                    <th>Actif</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for clients in client %}
                <tr>
                    <td data-label="ID">
                        <a href="{% url 'client_detail' clients.pk %}" title="Détail" class="text-decoration-none">
                            {{ clients.pk }}
                        </a>
                    </td>
                    <td data-label="N° Client">{{ clients.num_client|default:"-" }}</td>
                    <td data-label="Nom">{{ clients.nom_client }}</td>
                    <td data-label="Prénom">{{ clients.prenom_client|default:"-" }}</td>
                    <td data-label="Téléphone">{{ clients.tel1_client|default:"-" }}</td>
                    <td data-label="N° contrat">{{ clients.contrats.last.num_contrat|default:"-" }}</td>
                    <td data-label="Actif">
                        {% if clients.compte_actif %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-xmark-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td data-label="Action">
                        <a href="{% url 'client_detail' clients.pk %}" class="btn btn-primary btn-sm " title="Détail">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        {% if request.session.role_utilisateur == 'Administrateur' %}
                            <a href="{% url 'client_delete' clients.pk %}" class="btn btn-danger btn-sm " onclick="return confirm('Êtes-vous sûr de vouloir supprimer le Client {{ clients.nom_client }} ?');">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Export Modal -->
<div class="modal fade" id="export-client" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exportation de la liste des Clients</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNew">
                    {% csrf_token %}
                    <div class="container">
                        <div class="mb-3">
                            <label for="export-format" class="form-label">Format d'export :</label>
                            <select class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0" id="export-format" name="format" required>
                                <option value="pdf">PDF</option>
                                <option value="excel">Excel</option>
                            </select>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="commune" class="form-label">Commune :</label>
                            <select class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0" id="commune" name="commune">
                                <option value="" selected>Toutes les communes</option>
                                {% for commune in communes %}
                                    <option value="{{ commune.cp_commune }}">{{ commune.commune }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-xmark-circle"></i>
                    Annuler
                </button>
                <button type="button" class="btn btn-success confirmer-export-client" id="confirmer-export-client">
                    <i class="fas fa-check-circle"></i>
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>
