<div class="card-body">
    <div class="d-flex justify-content-between mb-5">
        <div class="mx-5 col-md">
            <a href="{% url 'client_new' %}" class="btn btn-warning">
                <i class="fas fa-plus me-1"></i>
                Nouveau
            </a>
        </div>
        <div class="mx-5">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#export-client-excel">
                <i class="fas fa-file-excel me-1"></i>
                Exporter
            </button>
        </div>
    </div>
    <div class="table-responsive mt-4 p-1">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>N° Client</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>N° contrat</th>
                    <th>Actif</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for clients in client %}
                <tr>
                    <td>
                        <a href="{% url 'client_detail' clients.pk %}" title="Détail" class="text-decoration-none">
                            {{ clients.pk }}
                        </a>
                    </td>
                    <td>{{ clients.num_client }}</td>
                    <td>{{ clients.nom_client }}</td>
                    <td>{{ clients.prenom_client|default:"-" }}</td>
                    <td>{{ clients.tel1_client|default:"-" }}</td>
                    <td>{{ clients.contrats.last.num_contrat|default:"-" }}</td>
                    <td>
                        {% if clients.compte_actif %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-xmark-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'client_detail' clients.pk %}" class="btn btn-primary btn-sm " title="Détail">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        {% if request.session.role_utilisateur == 'Administrateur' %}
                            <a href="{% url 'client_delete' clients.pk %}" class="btn btn-danger btn-sm " onclick="return confirm('Êtes-vous sûr de vouloir supprimer le Client {{ clients.nom_client }} ?');">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="export-client-excel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exportation de la liste des Clients au format Excel</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNew">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mt-3">
                                <div class="form-floating">
                                    <select name="region" id="region" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                        <option value="" selected hidden>Selectionnez une région</option>
                                        {% for region in regions %}
                                            <option value="{{ region.region }}">{{ region.region }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="region">Région</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 mt-3">
                                <div class="form-floating">
                                    <select name="commune" id="commune" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                        <option value="" selected hidden></option>
                                    </select>
                                    <label for="commune">Commune</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-xmark-circle"></i>
                    Annuler
                </button>
                <button type="button" class="btn btn-success confirmer-export-client-excel" id="confirmer-export-client-excel">
                    <i class="fas fa-check-circle"></i>
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>
