{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'logo/img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'datatable/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>{{ title_main }}{{ title_nouvelle_anomalie }}{{ title_main_liste_detail }}{{ title_main_liste_detail_photo }}{{ title_main_liste_detail_suivie }}</title>
    <style>
        .dataTables_filter input[type="search"] {
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'navbar/navbar.html' %}
            <div class="col p-2">
                <div class="card border-0 shadow-sm">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-2 mt-4">
                                <a href="{% url 'main_liste_mc' %}" class="fw-bolder shadow-none rounded-0 btn btn-outline-warning btn-sm w-100 text-dark border-start-0 border-top-0 border-end-0 {{ active }}">
                                    Liste MC
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-content-center p-4">
                            {% include 'message.html' %}
                        </div>
                        {% if title_main %}
                            {% include 'all_page/main_courante/main_liste_mc.html' %}
                        {% elif title_main_liste_detail %}
                            {% include 'all_page/main_courante/main_liste_mc_detail.html' %}
                        {% elif title_main_liste_detail_photo %}
                            {% include 'all_page/main_courante/main_liste_mc_detail.html' %}
                        {% elif title_main_liste_detail_suivie %}
                            {% include 'all_page/main_courante/main_liste_mc_detail.html' %}
                        {% elif title_nouvelle_anomalie %}
                            {% include 'all_page/main_courante/main_courante_new.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'datatable/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'datatable/datatables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'js/utils/utils.js' %}"></script>
    <script src="{% static 'js/app/modal.js' %}"></script>
    <script src="{% static 'js/app/photomc.js' %}"></script>
    <script>
        function openUrlInNewTab(url) {
            window.open(url, '_blank');
        }
    </script>
</body>
</html>
