<div class="card-body">
    <div class="mb-4">
        <form>
            <div class="row">
                <div class="col-md-3 mb-2 mb-md-0">
                    <div class="form-floating">
                        <input type="month" name="datedeb" id="datedeb" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" value="{{ datedeb }}" placeholder="" required>
                        <label for="datedeb">Période du </label>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mb-md-0">
                    <div class="form-floating">
                        <input type="month" name="datefin" id="datefin" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0" value="{{ datefin }}" placeholder="" required>
                        <label for="datefin">au </label>
                    </div>
                </div>
                <div class="col-md-1 col-sm-6 col-6 d-flex align-items-center justify-content-center">
                    <div class="mb-2"></div>
                    <button class="btn btn-primary" type="submit" style="width: 50px; height: 50px;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="my-5">
        <a href="{% url 'main_courante_new' %}" class="btn btn-warning" style="width: 150px; height: 40px;">Déclarer un MC</a>
    </div>
    <div class="d-flex flex-wrap justify-content-between my-5">
        <div class="col-md-2 border border-secondary rounded p-4">
            <div class="text-center">Nb MC : </div>
            <h3 class="text-center text-secondary">{{ main_nb }}</h3>
        </div>
        <div class="col-md-2 border border-secondary rounded p-4">
            <div class="text-center">Non traitée : </div>
            <h3 class="text-center text-secondary">{{ non_traite }}</h3>
        </div>
        <div class="col-md-2 border border-secondary rounded p-4">
            <div class="text-center">En Cours: </div>
            <h3 class="text-center text-secondary">{{ en_cours }}</h3>
        </div>
        <div class="col-md-2 border border-secondary rounded p-4">
            <div class="text-center">Réalisées : </div>
            <h3 class="text-center text-secondary">{{ realise }}</h3>
        </div>
    </div>
    <div class="my-3">
        <div class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exportmc-excel" style="width: 150px; height: 40px;">
            <i class="fas fa-file-excel"></i>
            Export
        </a>
    </div>
    <div class="table-responsive mt-4 p-1">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type Anomalie</th>
                    <th>Statut</th>
                    <th>Editée le</th>
                    <th>Photos</th>
                    <th>Declarée par</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for row, statut in main %}
                <tr>
                    <td>
                        <a href="{% url 'detail_mc' row.pk %}" class="text-decoration-none" title="Détail">{{ row.pk }}</a>
                    </td>
                    <td>{{ row.type_anomalie }}</td>
                    <td>
                    {% if statut.non_traite %}
                        <span class="badge bg-info">Non Traitée</span>
                    {% elif statut.en_cours %}
                        <span class="badge bg-primary">
                            <i class="fas fa-spinner"></i>
                            En Cours
                        </span>
                    {% elif statut.realise %}
                        <span class="badge bg-success">
                            <i class="fas fa-check-circle"></i>
                            Realisées
                        </span>
                    {% endif %}
                    </td>
                    <td>{{ row.date_mc|date:'d/m/Y' }}</td>
                    <td>
                        {% if row.photo_anomalie %}
                            <a href="{{ row.photo_anomalie.url }}"><i class="fas fa-image"></i> Click ici</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ row.utilisateur.nom_utilisateur }}
                        <span class="badge bg-primary">{{ row.utilisateur.role.role }}</span>
                    </td>
                    <td>
                        <a href="{% url 'detail_mc' row.pk %}" class="btn btn-primary btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        {% if statut.realise %}
                            <a href="{% url 'supprimer_mc' row.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce MC ?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exportmc-excel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exportation des Mains Courantes en Excel</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNew">
                    {% csrf_token %}
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="date_deb" id="date_deb" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="" required>
                                        <label for="date_deb">Periode du </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" name="date_fin" id="date_fin" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="">
                                        <label for="date_fin">au </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select name="statut" id="statut" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                                            <option value="" selected hidden>Sélectionnez un statut</option>
                                            <option value="1">Non Traitée</option>
                                            <option value="2">En Cours</option>
                                            <option value="3">Réalisées</option>
                                        </select>
                                        <label for="region">Statut de l'anomalie</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-xmark-circle"></i>
                    Annuler
                </button>
                <button type="button" class="btn btn-success confirmer-exportmc-excel" id="confirmer-exportmc-excel">
                    <i class="fas fa-check-circle"></i>
                    Confirmer
                </button>
            </div>
        </div>
    </div>
</div>