# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

debug.log
Rel_Compteur/settings.py
__pycache__
Clients/__pycache__
Rel_Compteur/__pycache__
Compteurs/__pycache__
Facturation/__pycache__
Login/__pycache__
Main_Courante/__pycache__
Parametre/__pycache__
Ranoo_config/__pycache__
Tableau_Bord/__pycache__