<div class="row">
    <div class="col-md-4">
        <div class="form-floating">
            <input type="text" name="adresse_client" id="adresse_client" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ detail.adresse_client }}" placeholder="Nom de Client" required>
            <label for="nom_client">Adresse</label>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="form-floating">
            <select name="region" id="region" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                <option hidden selected>{{ detail.cp_commune.region.region }}</option>
                {% for region in regions %}
                    <option>{{ region.region }}</option>
                {% endfor %}
            </select>
            <label for="region">Région :</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <select name="commune" id="commune" class="form-select shadow-none rounded-0 border-start-0 border-top-0 border-end-0">
                <option value="{{ detail.cp_commune.cp_commune }}">{{ detail.cp_commune.commune }}</option>
            </select>
            <label for="commune">Commune :</label>
        </div>
    </div>
     <div class="col-md-4">
        <div class="form-floating">
            <select type="text" name="cp_commune" id="cp_commune" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" readonly>
                <option value="{{ detail.cp_commune.cp_commune }}">{{ detail.cp_commune.cp_commune }}</option>
            </select>
            <label for="cp_commune">CP Commune :</label>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="form-floating">
            <input type="text" name="pays_client" id="pays_client" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ detail.pays_client }}" placeholder="" required>
            <label for="pays_client">Pays :</label>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="form-floating">
            <input type="text" name="tel1_client" id="tel1_client" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ detail.tel1_client }}" placeholder="">
            <label for="tel1_client">Téléphone 1</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <input type="text" name="tel2_client" id="tel2_client" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ detail.tel2_client }}" placeholder="">
            <label for="tel2_client">Téléphone 2</label>
        </div>
    </div>
</div>
<div class="row mt-4">
   <div class="col-md-4">
        <div class="form-floating">
            <input type="email" name="email_client" id="email_client" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" value="{{ detail.email_client }}" placeholder="">
            <label for="email_client">Email</label>
        </div>
    </div>
</div>
<div class="row" id="afficher">
    <label for="piece_client" class="mt-4">Piece Client :</label>
    <div class="col-md-4 mt-2">
        <div class="form-floating">
            <input type="file" name="piece_client" id="piece_client" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" accept="image/jpeg, image/png, application/pdf">
        </div>
    </div>
    <div class="col-md-4 mt-2">
        <div class="form-floating">
            <input type="text" name="designation" id="designation" class="form-control shadow-none rounded-0 border-start-0 border-top-0 border-end-0" placeholder="">
            <label for="designation">Designation</label>
        </div>
    </div>
</div>
<div class="btn btn-sm btn-success mt-3 " id="add"><i class="fas fa-plus"></i> Plus Document</div>
<div class="card border-0 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Pièce</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for pieces in piece_client %}
            <tr>
                <td>
                    <i class="fas fa-file"></i>
                    <a href="{{ pieces.pieces_client.url }}" class="text-decoration-none">{{ pieces.pieces_client }}</a>
                </td>
                <td>{{ pieces.designation }}</td>
                <td>
                    <a href="{% url 'supp_file_client' pieces.id_piece %}" class="btn btn-danger btn-sm " onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce Pièce ?')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>